<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Website - About</title>
    </head>
    <body>
        <h1>Tara Henry</h1>
        <p>I am an Electronics and Computer Science student, looking to achieve great heights in the world of innovation.
        I love to dance, play games, hang out with friends and listen to music in my spare time when I am not swallowed by work.
        I am still contemplating what path I would like to take within my field and as such, 
        I am committed to exploring as much as I can so as to not limit myself.</p>
    </body>
</html>
